@model Bookfinder.Models.Review
@{
    ViewData["Title"] = "Home";
}

<div class="container mb-4">
    <div class="jumbotron text-center bg-primary text-white rounded" style="height: 200px;">
        <h1 class="display-4">Bilblioteca de Livros em .NET</h1>
        <p class="lead">Uma aplicação de exemplo desenvolvida como projeto acadêmico.</p>
        <hr class="my-4 border-light">
        <p>Esta aplicação demonstra o uso de ASP.NET Core MVC de um sistema de consulta de livros</p>
    </div>

    <div class="container mb-5"></div>

    <div class="row mb-4">
        <div class="col-md-6 mb-4">
            <h2 class="text-center">Integrantes da Equipe</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">Maike da Silva Castilho</li>
                <li class="list-group-item list-group-item-action">Pablo Candido Pereira</li>
                <li class="list-group-item list-group-item-action">Ronald Luigi Galvão</li>
                <li class="list-group-item list-group-item-action">Thiago Peixoto dos Santos </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Informações do Repositório</h2>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Repositório</h5>
                    <p class="card-text"><a href="https://github.com/maikeCastilho/BookFinder" target="_blank" class="text-primary">https://github.com/maikeCastilho/BookFinder</a></p>
                    <h5 class="card-title">Descrição</h5>
                    <p class="card-text">O código fonte do projeto está disponível no GitHub. Sinta-se à vontade para explorar e contribuir.</p>
                </div>
            </div>
        </div>
    </div>
</div>