   @model string  // Aqui você pode passar o book.Key

<form method="post" asp-action="Favorite" style="display: inline;">
    <input type="hidden" name="bookKey" value="@Model" />
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-gem"></i> Favoritar
    </button>
</form>